#gameCanvas {
    border-radius: 10px;
    cursor: grabbing;
}
div {
    display:flex;
}

.skyblue { background-color:skyblue}
.green { background-color:green; }
.blue { background-color:blue; }
.red { background-color:red; }
.black { background-color:black; }
.orange { background-color: orange;}

/* For mobile devices */
@media (max-height: 800px) {
body {
zoom: 1.1; 
-moz-transform: scale(1.1);
-moz-transform-origin: 0 0;
background-size: 100%;
} 
 } @media (max-height: 700px) {
body {
zoom: 0.9; 
-moz-transform: scale(0.9);
-moz-transform-origin: 0 0;
background-size: 100%;
}
 } @media (max-height: 600px) {
body {
zoom: 0.8; 
-moz-transform: scale(0.8);
-moz-transform-origin: 0 0;
background-size: 100%;
}
 } @media (max-height: 500px) {
body {
zoom: 0.7; 
-moz-transform: scale(0.7);
-moz-transform-origin: 0 0;
background-size: 100%;
}
 } @media (max-height: 430px) {
body {
zoom: 0.65; 
-moz-transform: scale(0.65);
-moz-transform-origin: 0 0;
background-size: 100%;
}
 }